{% extends 'front-office/base.html.twig' %}



{% block body %}

    <center>
        <h1>Ajouter des Ebooks</h1>
        {{ form_start(form) }}
        <input type="submit" value="Modifier">
        {{ form_end(form) }}


    </center>
{% endblock %}