{% extends "::base.html.twig" %}

{% block title %}AchatBundle:AdminCmommande:ValiderLivraison{% endblock %}

{% block body %}
<h1>Welcome to the AdminCmommande:ValiderLivraison page</h1>
{% endblock %}
