
<link rel="stylesheet" href="https://www.fnac.com/static/css/WOiUFlVfIEhhJCZ1bdDgNsDtGSQ1/assets/dist/css/desktop-common.css">


<link rel="stylesheet" href="https://www.fnac.com/static/css/qMnVv8iQAhZyjVCqIzCn8jKs0Oc1/assets/dist/css/desktop-product.css">


<div class="whide " style="display: inline-block; width: 120px; vertical-align: top;">
    <ul style="list-style: none; padding :0; margin:0;"></ul>
</div>

<div class="f-productVisuals-thumbnailsWrapper">
    <ul class="f-productVisuals-thumbnails js-productVisuals-thumbnails  slick-initialized slick-slider slick-vertical"><div class="slick-list draggable" style="height: 325px;"><div class="slick-track" style="height: 130px; opacity: 1; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" aria-hidden="false" style="width: 51px;" data-slick-index="0"><div><li class="f-productVisuals-thumbnail js-articleVisuals-item" style="width: 100%; display: inline-block;" data-src-zoom="https://static.fnac-static.com/multimedia/Images/FR/NR/e0/55/a2/10638816/1507-0/tsp20181105222813/Egomaniac.jpg" data-src="https://static.fnac-static.com/multimedia/Images/FR/NR/e0/55/a2/10638816/1540-0/tsp20181105222813/Egomaniac.jpg" data-type="image">
                            <img width="47" height="47" alt="Egomaniac_0" src="https://static.fnac-static.com/multimedia/Images/FR/NR/e0/55/a2/10638816/1502-0/tsp20181105222813/Egomaniac.jpg">
                        </li></div></div><div class="slick-slide slick-active" aria-hidden="false" style="width: 51px;" data-slick-index="1"><div><li class="f-productVisuals-thumbnail f-productVisuals-thumbnail-3D" id="web-viewer-button" style="width: 100%; display: inline-block;">

                        </li></div></div></div></div></ul>
</div>

<div class="f-productVisuals-main js-articleVisuals-main">
    <div style="position: relative; width: 100%; cursor: pointer;">
        <i class="f-productVisuals-main-iconZoom icon icon_i_011_search"></i>
        <img class="f-productVisuals-mainMedia js-ProductVisuals-imagePreview xzoom" alt="Egomaniac" src="https://static.fnac-static.com/multimedia/Images/FR/NR/e0/55/a2/10638816/1540-0/tsp20181105222813/Egomaniac.jpg">
    </div>
</div>
<div class="f-productVisuals-3D" id="web-viewer-canvas" style="display: none;"></div>
</section>


<div class="f-mfp-content f-productVisuals-zoomBox js-articleVisuals-zoomBox f-productVisuals-zoomBox-thumbnails mfp-hide"></div>





<section class="f-productToolbar js-articleToolbar js-userNotConnected" data-catalog="1" data-prid="13006651" data-offer-id="" data-ref="1" data-price="9,99">







</section>
    <script id="wishlistThumbnailBaseTemplate" type="x-tmpl-mustache">
    <div class="wishlist">
        <button class="mfp-close icon icon_i_037_cross_03"></button>
        <div class="wishlist-list list">
            <div class="wishlist-listTitle title">Mes listes</div>
            <div id="added" class="wishlist-added hide">
                <span class="icon icon_i_102_check_03"></span>
                <span class="text"></span>
            </div>
            <div class="wishlist-wrapper">
            </div>
        </div>
        <div class="wishlist-tools">
            <div class="wishlist-form formBox">
                <input type="text" class="wishlist-input Field-input" placeholder="Créer une nouvelle liste" >
                <span class="wishlist-submit CreateWishlistAndAddArticle">OK</span>
            </div>
        </div>
    </div>
    </script>




</div>
