{% extends 'admin.html.twig' %}
{% block b %}
<center>
    <h1>Modifier les categories</h1>
    {{ form_start(form) }}
    <input id="btn2" class="btn btn-primary" type="submit" value="modifier">
    {{ form_end(form) }}
</center>
{% endblock %}